* /*reset css */
{
  margin:0;
  padding:0;
  border:0;
}

html, body
{
	height: 100%;
}

body
{
	display : table;
	width: 100%;
  background-color:#D8E1FF;
}

.imag
{
  height: 150px;
  width: 150px;
  float: left;
}

header
{
  background-color: #007EA7;
  text-align: center;
  width: 100%;
  display: inline-block;
}

h1
{
  margin-top: 1em;
}

header li /* li from nav in header*/
{
  display: inline-block;
  font-size: 1.5em;
  margin-top: 1.5em;
  margin-right: 1.4em;
  margin-bottom: 1.1em;
}

header ul a /*ul a from header */
{
  text-decoration: none;
  color: white;
  padding: 1em;
  background-color: #102087;
}

ul a:hover /* Apparence au survol des liens */
{
   text-decoration: underline;
}

.main /* main content from all page*/
{
  background-color:#D8E1FF;
  min-height:44em;
  width: 100%;
  display: inline-block;
}

.produit /*main article from index and produit*/
{
  background-color: white;
  display:block;
  margin-top: 1em;
  margin-left: 30em;
  width: 53em;
}

.img , .description /*section on main from index and produit.html*/
{
  display: inline-block;
  vertical-align: top;
}

.description /* description from the product in index and produit.html*/
{
    width: 30em;
}

.description h2 /* h2 from description*/
{
  margin-top: 1em;
  text-align: center;
}

.description p /* p from description */
{
  margin-top: 5em;
}

.description a /* link from description*/
{
  text-align: right;
  margin-top: 2em;
  display: block;
}


footer /* fix footer in the bot on the page*/
{
	display : table-row;
	height:5em;
  background-color: black;
}

footer nav li /* nav li from footer*/
{
  display: inline-block;
  margin-right: 1em;
  margin-top: 2em;
}

footer nav a /* nav a from footer*/
{
color:white;
}

.left /* margin on the first item for center */
{
  margin-left: 30em;
}

.produitmsi /* main img from produit.html*/
{
  height: 15em;
  width: 15em;
}

.little /* galery in produit.html */
{
  height: 2.5em;
  width:2.5em;
  margin-left: 0.5em
}

.textreduct /*reduct text in produit.html*/
{
  font-size: 0.7em;
  color: grey;
}

.description img /*margin in img from description*/
{
  margin-top: 1em;
  margin-right: 1em;
}

.contact /* p from contact.html*/
{
  margin-top: 1em;
}

h4 , .email /*h4 and email in block in contact.html*/
{
  display: inline-block;
}
